{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   Summary of earnings
{% endblock %}

{% block content %}


<p>Below shows a summary of your earnings in each cycle</p>
<table  border="0" cellpadding="0" cellspacing="0" width="200px" class="scrollTable">
    <thead class="fixedHeader">
    <tr class="alternateRow">
        <th>Cycle</th>
        <th>Earning</th>
    </tr>
    </thead>
    <tbody class="scrollContent">
       {{ for c in cycle_earning_list }}
    <tr>
        <td class="normalRow">{{ c.cycle_number }}</td>
        <td>{{ c.cycle_earning }}</td>
    </tr>
        {{ endfor }}
    </tbody>

</table>
<br>
<p> The sum of your earnings across cycles is <b>{{cycles_earning}</b>. In addition, you earned <b>{{quiz_earning}}</b>  from comprehension test.
    In total, you have <b>{{participant.payoff}}</b> .
     </p>

<p>  The exchange rate is 1 point = ${{conversion_rate}}.</p>
<p>
{{if rounding}}
    After exchanging your points to dollars,
    your earning including the <b>{{participation_fee}} </b>participation fee is <b>{{participant.payoff_plus_participation_fee()}}</b>.
    By rounding up to the nearest $0.25, your payment for this experiment is <b style="color: darkred">${{payment}}</b>.
    {{else}}
     After exchanging your points to dollars and adding the <b>{{participation_fee}} </b>participation fee,
    your payment for this experiment is <b style="color: darkred">${{payment}}</b>.
    {{endif}}</p>


<b><p>We will start payments after everyone finishes the questionnaire.</p></b>

<p>Click "Next" to start filling the questionaire.</p>
{{next_button}}
{% endblock %}

{% block styles %}
    <style>

.otree-timer {
    display: none;
}
    </style>
{% endblock %}

