{% extends "global/Page.html" %}
{% load otree static %}

{{ block title }}
    Cycle {{ subsession.curr_super_game }}, Round {{ cycle_round_number}} &#8211; Results
{{  endblock }}

{{ block content }}
<p>
{{if my_bribery}}
    In stage 0, you gave the <i>observer</i> {{my_paidbribery}}.
    {{endif}}
</p>
<p>{{if my_query}}
In stage 1, you chose to query at cost of {{Constants.query_cost}}.
{{endif}}
</p>
<p>In stage 2, your earning is
{{if both_cooperate}}
    {{Constants.both_cooperate_payoff}}.
{{elif both_defect}}
    {{Constants.both_defect_payoff}}.
{{elif i_cooperate_he_defects}}
    {{Constants.betrayed_payoff}}.
{{else}}
    {{ Constants.betray_payoff}}.
{{endif}}
</p>
<p>{{if my_report}}
In stage 3, you chose to report your match at cost of {{Constants.report_cost}}.
    {{endif}}</p>

<p>{{ if my_payfine}}
    In stage 5, you paid {{Constants.fine}} to your match.
    {{endif}}</p>
<p>
    {{if my_receivefine}}
    In stage 5, you received {{Constants.fine}} from your match.
</p>
{{endif}}
<p>Therefore, your earning from this round is <b>{{my_earning}}</b>. </p>
{{next_button}}
{{ endblock }}

{% block styles %}
    <style>

.otree-timer {
    display: none;
}
    </style>
{% endblock %}

