{% extends "global/Page.html" %}
{% load otree static %}

{{ block title }}
    Cycle {{ subsession.curr_super_game }}, Round {{ cycle_round_number}} &#8211; Results
{{  endblock }}

{{ block content }}
<h4>Results</h4>
{{if receive_bribery}}
    <p> In stage 0, you received {{bribery_income}} from <i>active participants</i>.
    <br>
    {{if query_list}}
    In stage 1, you received {{query_income}} as you have been queried.
    {{endif}}
    <br>
    You also earn {{Constants.observer_payoff}}.
    <br>
    Therefore, your earning from this round is <b>{{my_earning}}</b>. </p>
{{else}}
<p>
    {{if query_list}}
    In stage 1, you received {{query_income}} as you have been queried.
    {{endif}}
    <br>
    Your earning from this round is <b>{{my_earning}}</b>. </p>
{{endif}}

<h4>Continue?</h4>
<p> The computer rolled a 100-sided die to determine whether the match is over or continues to another round.</p>
    {{if subsession.round_number in session.vars.super_games_end_rounds  }}
<p>The die roll was <b style="color: darkred">{{ dieroll }}</b>.</p>
        <p>Since the die roll was greater than {{ continuation_chance }}, the match is over.</p>
    {{else}}
<p>The die roll was <b style="color: darkred">{{ dieroll }}</b>.</p>
        <p>Since the die roll was less than or equal to {{ continuation_chance }}, the match continues to another round.</p>
    {{endif}}

{{next_button}}
{{ endblock }}

{% block styles %}
    <style>

.otree-timer {
    display: none;
}
    </style>
{% endblock %}

