{{block styles}}
<style>
    .column {
  float: left;
  width: 50%;
  padding: 15px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
{{endblock}}
{{ block title }}
Cycle {{ subsession.curr_super_game }}, Round {{ cycle_round_number }}, Stage 1&#8211;
Query from <span style="font-style: italic">active participants</span>
{{ endblock }}
{{ block content }}
<div class="row">
<div class="column">
<h5>Record of <span style="font-style: italic">active participants</span> in your set</h5>
<table class="table" style="width: 400px">
    <tr>
        <th style="color: darkred">ID</th>
        <th style="color: darkred">Record</th>
        <th style="color: darkblue">Match's ID</th>
        <th style="color: darkblue">Match’s record</th>
    </tr>
    {{ for p in active_players_query_results }}
    <tr>
        <td style="font-weight: bold; color: darkred">{{ p.id }}</td>
        <td style="color: darkred">{{ p.record }}</td>
        <td style="font-weight: bold; color: darkblue">{{ p.partner_id }}</td>
        <td style="color: darkblue">{{ p.partner_record }}</td>

    </tr>
    {{ endfor }}
</table>
</div>

    <div class="column">
{{if query_list}}
<!-- For dishonest treatment-->
{{if subsession.dishonesty}}

<p>

    {{query_list}} queried.
    <br>
    {{if refuse_bribery_list}}
        {{refuse_bribery_list}} rejected to pay you.
    {{endif}}
    <br>
    The table below shows the statements to be sent.
</p>
<table class="table" style="width: 600px; height: 200px">
    <tr>
        <th>ID</th>
        <th>Statement to send</th>
    </tr>
    {{ for p in active_players_query_results}}
        {{if p.partner_bribery_request and not p.partner_bribery}}
        <tr>
            <td style="font-weight: bold">{{ p.id }}</td>
            <td>
                {{if p.query and p.partner_query}}
                    Your record is {{p.record}}.
                    Your match's record is Bad.
                {{elif not p.query and not p.partner_query}}
                No record will be shared with you.

                {{elif p.query and not p.partner_query}}
                Your match's record is Bad.

                {{else}}
                {{if p.record == 'Good'}}
                Your record is {{p.record}}. However, your match will receive a statement saying that your record is Bad
                since you rejected to give the requested amount to the <i>observer</i>.
                {{else}}
                Your record is {{p.record}}.
                {{endif}}
                {{endif}}
            </td>
        </tr>
    {{else}}
        <tr>
            <td style="font-weight: bold">{{ p.id }}</td>
            <td>
                {{if p.query and p.partner_query}}
                    Your record is {{p.record}}.
                    Your match's record is {{p.partner_record}}.
                {{elif not p.query and not p.partner_query}}
                No record will be shared with you.

                {{elif p.query and not p.partner_query}}
                Your match's record is {{p.partner_record}}.

                {{else}}
                Your record is {{p.record}}.
                {{endif}}
            </td>
        </tr>
    {{endif}}
    {{ endfor }}
</table>
<!-- For honest treatment-->
{{else}}
<p>{{query_list}} queried. The table below shows the statements to be sent.</p>

<table class="table" style="width: 600px; height: 200px">
    <tr>
        <th>ID</th>
        <th>Statement to send</th>
    </tr>
    {{ for p in active_players_query_results}}
    <tr>
        <td style="font-weight: bold">{{ p.id }}</td>
        <td>
            {{if p.query and p.partner_query}}
                Your record is {{p.record}}.
                Your match's record is {{p.partner_record}}.
            {{elif not p.query and not p.partner_query}}
            No record will be shared with you.

            {{elif p.query and not p.partner_query}}
            Your match's record is {{p.partner_record}}.

            {{else}}
            Your record is {{p.record}}.
            {{endif}}
        </td>
    </tr>
    {{ endfor }}
</table>
{{endif}}
{{else}}
<p>None of the <i>active participants</i> queried you. Hence, there's no statement to send.</p>
{{endif}}
</table>
  </div>
    </div>

{{if query_list}}
    <button class="otree-btn-next btn btn-primary">Send</button>
{{else}}
{{ next_button }}
{{endif}}

    {{ endblock }}