{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    The Experiment is Over!
{% endblock %}

{% block content %}

<p>This ends Cycle {{Constants.num_super_games }} and, thus, ends the experiment.</p>

<p>Below shows a summary of your earnings in each cycle</p>
<table  border="0" cellpadding="0" cellspacing="0" width="200px" class="scrollTable">
    <thead class="fixedHeader">
    <tr class="alternateRow">
        <th>Cycle</th>
        <th>Earning</th>
    </tr>
    </thead>
    <tbody class="scrollContent">
       {{ for c in cycle_earning_list }}
    <tr>
        <td class="normalRow">{{ c.cycle_number }}</td>
        <td>{{ c.cycle_earning }}</td>
    </tr>
        {{ endfor }}
    </tbody>

</table>
<br>
<p>The sum of your earnings across cycles is {{participant.payoff}}. The exchange rate is 1 point = ${{conversion_rate}}. You also receive
    {{participation_fee}} for participating our experiment. </p>

<p> In total, your payment for this experiment is <b>{{participant.payoff_plus_participation_fee()}}</b> </p>
<p>Thank you very much for your participation!</p>

<p>We will start payments shortly. Please help us to fill in a questionnaire first.</p>


{% endblock %}
<button class="btn btn-primary" style="display: none" id="next-button">Next</button>

{% block styles %}
    <style>

.otree-timer {
    display: none;
}
    </style>
{% endblock %}

