{{ block title }}
History
{{ endblock }}
{{ block content }}
<p>Below is the history table of active participants in your set </p>
<div  style="overflow-x:auto;width: 100%">
<table class="table">

    <tr>
        <th>Group ID</th>
        {{ for g in active_players_in_all_rounds }}
        {{ for p in g}}
        {{if p.id == 1}}
        <th>Round {{ p.round_number }}</th>
                {{ endif }}
        {{ endfor }}
        {{ endfor }}
    </tr>


    {{ for g in active_players_in_all_rounds }}
    <tr>

        {{ for p in g}}
            {{ if p.round_number == 1}}
            <th>
            {{ p.id}}
            </th>
            {{ endif }}
        <td>
            {{ p.decision }}
        </td>
        {{ endfor }}
    </tr>
    {{ endfor }}


</table>
    </div>

<p>The next button will appear after 5 seconds</p>
<button class="btn btn-primary" style="display: none" id="next-button">Next</button>

    <script>
        setTimeout(function() {
            document.getElementById('next-button').style.display = 'block';
        }, 5 * 1000);
    </script>

{{ endblock }}
