{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Thank you for your participation!
{% endblock %}

{% block content %}

	<br> Please wait for the experimenter to call your seat number. </br>
	<br> When you are called, you may exit the lab with all your belongings. </br>
	<br> You will be paid at the lab door, please bring your seat card, the instruction, the payment record, and your pen in exchange for your payment. </br>
	<br> You can leave the calculator on the desk. </br>
	

{% endblock %}
